{{#paper-list}}
  {{#paper-subheader}}My Fire Collections{{/paper-subheader}}
  {{#each collections as |collection|}}
    {{#paper-item class="md-2-line" onClick=(action "goToCollectionDetail" collection) as |controls|}}
      {{paper-icon "library_music" class="md-avatar-icon"}}
      <div class="md-list-item-text">
        <h3>{{collection.title}}</h3>
        <p>{{collection.year}}</p>
      </div>
      {{#controls.button secondary=true iconButton=true }}
        {{paper-icon "edit"}}
      {{/controls.button}}
    {{/paper-item}}
  {{/each}}
{{/paper-list}}