<h1>Fire Collections</h1>
<div class="layout-row layout-align-center-stretch">
  <div class="flex-70">
    {{#paper-card as |card|}}
      {{#card.content}}
          {{outlet}}
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>
