<div class="home-container">
  <div class="logo-container">
    {{paper-icon "whatshot" primary=true size=660}}
  </div>
  <h1>FireCollections</h1>
  {{#paper-button raised=true primary=true onClick=(action "goToCollection")}}See my Collection{{/paper-button}}
</div>